<h1><%= t('views.users.index.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.user.name' %></th>
      <th><%= t 'activerecord.attributes.user.passwd' %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.passwd %></td>
        <td><%= link_to t('views.users.link_show'), user %></td>
        <td><%= link_to t('views.users.link_edit'), edit_user_path(user) %></td>
        <td><%= link_to t('views.users.link_destroy'), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('views.users.link_new'), new_user_path %>
