<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.user.name')%></strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.passwd')%></strong>
  <%= @user.passwd %>
</p>

<%= link_to t('views.users.link_edit'), edit_user_path(@user) %> |
<%= link_to t('views.users.link_back'), users_path %>
